<!-- BEGIN_INCLUDE(watson-alchemy-language:combinedCall) -->
<watson-alchemy-language:combined-call config-ref="ref"  source="www.url.com" extract="authors,taxonomy" doc:name="Watson AlchemyLanguage Service" />
<!-- END_INCLUDE(watson-alchemy-language:combinedCall) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:authors) -->
<watson-alchemy-language:authors config-ref="ref"  source="www.url.com" doc:name="Watson AlchemyLanguage Service" />
<!-- END_INCLUDE(watson-alchemy-language:authors) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:entities) -->
<watson-alchemy-language:entities config-ref="ref"
	source="IBM Watson won the Jeopardy television show hosted by Alex Trebek"
	maxRetrieve="5" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:entities) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:concepts) -->
<watson-alchemy-language:concepts config-ref="ref"
	source="IBM Watson won the Jeopardy television show hosted by Alex Trebek"
	maxRetrieve="5" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:concepts) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:publicationDate) -->
<watson-alchemy-language:publication_date config-ref="ref"  source="www.url.com/blog/post" doc:name="Watson AlchemyLanguage Service" />
<!-- END_INCLUDE(watson-alchemy-language:publicationDate) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:feedDetection) -->
<watson-alchemy-language:feed-detection config-ref="ref"
	url="http://news.ycombinator.com"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:feedDetection) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:dateExtraction) -->
<watson-alchemy-language:date-extraction config-ref="ref"
	source="November 25, 2014"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:dateExtraction) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:microformats) -->
<watson-alchemy-language:microformats config-ref="ref"
	source="http://microformats.org/wiki/hcard"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:microformats) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:keywords) -->
<watson-alchemy-language:keywords config-ref="ref"
	source="The polymer is made by a company called Papa from Australia"
	maxRetrieve="10" knowledgeGraph="1" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:keywords) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:relations) -->
<watson-alchemy-language:relations config-ref="ref"
	source="http://www.admios.com/admios-blog/"
	maxRetrieve="10" knowledgeGraph="true" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:relations) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:targetedSentiment) -->
<watson-alchemy-language:targeted-sentiment config-ref="ref"
	source="The polymer is made by a company called Papa from Australia"
	target="Australia" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:targetedSentiment) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:sentimentAnalysis) -->
<watson-alchemy-language:sentiment-analysis config-ref="ref"
	source="www.url.com/blog/post"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:sentimentAnalysis) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:typedRelations) -->
<watson-alchemy-language:typed-relations config-ref="ref"
	source="www.url.com/blog/post" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:typedRelations) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:languageDetection) -->
<watson-alchemy-language:language-detection config-ref="ref"
	source="www.url.com/blog/post" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:languageDetection) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:titleExtraction) -->
<watson-alchemy-language:title-extraction config-ref="ref"
	source="www.url.com/blog/post" doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:titleExtraction) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:textExtraction) -->
<watson-alchemy-language:text-extraction config-ref="ref"
	source="http://www.admios.com/admios-blog/2016/7/20/build-fast-and-clean-uis-with-angular-material"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:textExtraction) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:rawTextExtraction) -->
<watson-alchemy-language:raw-text-extraction config-ref="ref"
	source="http://www.admios.com/admios-blog/2016/7/20/build-fast-and-clean-uis-with-angular-material"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:rawTextExtraction) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:taxonomy) -->
<watson-alchemy-language:taxonomy config-ref="ref"
	source="http://www.admios.com/admios-blog/2016/7/20/build-fast-and-clean-uis-with-angular-material"
	doc:name="Watson AlchemyLanguage Service"/>
<!-- END_INCLUDE(watson-alchemy-language:taxonomy) -->

<!-- BEGIN_INCLUDE(watson-alchemy-language:emotionalAnalysis) -->
<watson-alchemy-language:emotional-analysis config-ref="ref"
	source="http://www.admios.com/admios-blog/2016/7/20/build-fast-and-clean-uis-with-angular-material"
	doc:name="Watson AlchemyLanguage Service"/>
	<!-- END_INCLUDE(watson-alchemy-language:emotionalAnalysis) -->
<!-- END_INCLUDE(watson-alchemy-language:emotionalAnalysis) -->